<h1>トレーニング記録</h1>

<%= form_with(model: @training_session, local: true, data: { turbo: false }, html: {id: 'training-session-form'}) do |form| %>
  <div class="col-md-10 col-lg-8 mx-auto">
    <%= render 'shared/error_messages', object: @training_session %>

    <div class="field">
      <%= form.label :date, "日付" %>
      <%= form.date_field :date %>
    </div>

    <h3>エクササイズ</h3>
    <div id="exercises-container">
      <% @training_session.session_exercises.each_with_index do |session_exercise, i| %>
        <div class="exercise-row" data-index="<%= i %>">
          <%= form.label :name, "種目 #{i + 1}" %>
          <%= form.collection_select :name, Exercise.all, :name, :name, { prompt: "種目を選択" }, { name: "training_session[session_exercises_attributes][#{i}][name]" } %>
          <%= form.label :weight, "重量" %>
          <%= form.number_field :weight, name: "training_session[session_exercises_attributes][#{i}][weight]", placeholder: "重量(kg)" %>
          <%= form.label :reps, "回数" %>
          <%= form.number_field :reps, name: "training_session[session_exercises_attributes][#{i}][reps]", placeholder: "回数" %>
        </div>
      <% end %>
    </div>
    <button type="button" id="add-exercise">エクササイズを追加</button>

    <div class="actions">
      <%= form.submit "保存" %>
    </div>
  <% end %>
  <%= link_to '戻る', training_sessions_path %>

<%= javascript_tag do %>
document.addEventListener('turbo:load', function() {
  const container = document.getElementById('exercises-container');
  let index = <%= @training_session.session_exercises.size %>;
  const exercises = <%= Exercise.all.collect { |e| [e.name, e.name] }.to_json.html_safe %>;

  document.getElementById('add-exercise').addEventListener('click', function() {
    let selectHTML = '<select name="training_session[session_exercises_attributes][' + index + '][name]" placeholder="種目を選択">';
    selectHTML += '<option value="">種目を選択</option>';
    exercises.forEach(function(exercise) {
      selectHTML += '<option value="' + exercise[1] + '">' + exercise[0] + '</option>';
    });
    selectHTML += '</select>';

    const newExerciseHTML = `
      <div class="exercise-row" data-index="${index}">
        <label>種目 ${index + 1}</label>
        ` + selectHTML + `
        <label>重量</label>
        <input type="number" name="training_session[session_exercises_attributes][${index}][weight]" placeholder="重量(kg)">
        <label>回数</label>
        <input type="number" name="training_session[session_exercises_attributes][${index}][reps]" placeholder="回数">
      </div>
    `;
    container.insertAdjacentHTML('beforeend', newExerciseHTML);
    index++;
  });
});
<% end %>
