<h1>目標の詳細</h1>

<ul>
  <% @goal.goal_exercises.each do |ge| %>
    <li>
      種目名: <%= ge.exercise.name %>,
      目標重量: <%= ge.target_weight %>kg,
      回数: <%= ge.repetitions %>回
    </li>
  <% end %>
</ul>

<%= link_to '編集', edit_goal_path(@goal), class: "btn btn-secondary" %>
<%= button_to '削除', goal_path(@goal), method: :delete, data: { confirm: 'この目標を削除してよろしいですか？' }, class: "btn btn-danger" %>
<%= link_to '目標一覧に戻る', goals_path, class: "btn btn-link" %>